<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	
	<title>Hiking path</title>
	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript">
		function toLatLng(array) {
			return new google.maps.LatLng(array[0],array[1]);
		}
		
		function initialize() {
		
		 	var origin = new google.maps.LatLng{{ tuple(origin) }};
			var destination = new google.maps.LatLng{{ tuple(destination) }};
			


			
			var myOptions = {
				zoom: 14,
			  	center: origin,
			  	mapTypeId: google.maps.MapTypeId.TERRAIN
			}
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			
			
			var marker_origin = new google.maps.Marker({
				position: origin, 
				map: map,
				title:"Hello World!"
			}); 
			
			var marker_destination = new google.maps.Marker({
				position: destination, 
				map: map,
				title:"Hello World!"
			});   
			
			
			// Display a polyline of the elevation path.
			var locations = {{ path }};		
			var path = [ toLatLng(loc) for each (loc in locations) ];
			var pathOptions = {
				path: path,
				strokeColor: '#0000CC',
				opacity: 0.4,
				map: map
			}
			var polyline = new google.maps.Polyline(pathOptions);

		
		
		
	
		
		

	  }
	</script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<style type="text/css">
		body { margin:0; }
		#map_canvas { width: 90%; height: 400px; }
	</style>
	
</head>

<body onload="initialize()">
 

	<h1> {{ escape(title) }} </h1>

	<div> origin : {{ tuple(origin) }} </div>
	<div> destination : {{ destination }} </div>
	
	<div id="map_canvas"></div>
	
</body>
</html>
